{% extends 'base.html' %} 
{% block content %} {% comment %}
<!--Body Content-->
<div id="page-content">
  <!--Page Title-->
  <div class="page section-header text-center">
    <div class="page-title">
      <div class="wrapper"><h1 class="page-width">Create an Account</h1></div>
    </div>
  </div>
  <!--End Page Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
        <div class="mb-4">
          <form
            method="post"
            action="#"
            id="CustomerLoginForm"
            accept-charset="UTF-8"
            class="contact-form"
          >
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="FirstName">First Name</label>
                  {{ form.first_name }}
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="LastName">Last Name</label>
                  {{ form.last_name }}
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="CustomerEmail">Email</label>
                  {{ form.email }}
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="CustomerPassword">Password</label>
                  {{ form.password }}
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="ConfirmPassword">Confirm Password</label>
                  {{ form.confirm_password }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                <input type="submit" class="btn mb-3" value="Create" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Body Content-->
{% endcomment %}

<!--Body Content-->
<div id="page-content">
  <!--Page Title-->
  <div class="page section-header text-center">
    <div class="page-title">
      <div class="wrapper"><h1 class="page-width">Create an Account</h1></div>
    </div>
  </div>
  <!--End Page Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
        <div class="mb-4">
          <form
            method="post"
            action="#"
            id="CustomerLoginForm"
            accept-charset="UTF-8"
            class="contact-form">
            {% csrf_token %}

            <!-- Display non-field errors -->
            <p>{{ form.non_field_errors }}</p>

            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="FirstName">First Name</label>
                  {{ form.first_name }}
                  <!-- Display errors for the first_name field -->
                  <p class="text-danger">{{ form.first_name.errors }}</p>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="LastName">Last Name</label>
                  {{ form.last_name }}
                  <!-- Display errors for the last_name field -->
                  <p class="text-danger">{{ form.last_name.errors }}</p>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="CustomerEmail">Email</label>
                  {{ form.email }}
                  <!-- Display errors for the email field -->
                  <p class="text-danger">{{ form.email.errors }}</p>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="CustomerPassword">Password</label>
                  {{ form.password1 }}
                  <!-- Display errors for the password field -->
                  <p class="text-danger">{{ form.password1.errors }}</p>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="ConfirmPassword">Confirm Password</label>
                  {{ form.password2 }}
                  <!-- Display errors for the confirm_password field -->
                  <p class="text-danger">{{ form.password2.errors }}</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                <input type="submit" class="btn mb-3" value="Create" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Body Content-->

{% endblock content %}
