{% extends 'base.html' %}
{% load static %}


{% block content %}    
    <!--Body Content-->
    <div id="page-content">
    	<!--Collection Banner-->
    <div>
        <div class="collection-header" style="padding-bottom:45px;">
			<div class="collection-hero">
        		<div class="collection-hero__image"><img class="blur-up lazyload" data-src="{% static 'images/shop/cat-women.jpg' %}" src="{% static 'images/shop/cat-women.jpg' %}" alt="Women" title="Women" /></div>
        		<div class="collection-hero__title-wrapper"><h1 class="collection-hero__title page-width">Shop</h1></div>
      		</div>
		</div>
    </div>
        <!--End Collection Banner-->
        
        <div class="container">
        	<div class="row">
            	<!--Sidebar-->
            	<div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar filterbar">
                	<div class="closeFilter d-block d-md-none d-lg-none"><i class="icon icon anm anm-times-l"></i></div>
                	<div class="sidebar_tags">
                    	<!--Categories-->
                    	<div class="sidebar_widget categories filter-widget">
                        <div class="widget-title">
                                    <h2>Categories</h2>
                                </div>
                                <div class="widget-content">
                                    <ul class="sidebar_categories">
                                        {% for category in categories %}
                                        <li class="level1 {% if category.subcategories.exists %}sub-level{% endif %}">
                                            <a href="#" class="site-nav">{{ category.name }}</a>
                                            {% if category.subcategories.exists %}
                                            <ul class="sublinks">
                                                {% for subcategory in category.subcategories.all %}
                                                <li class="level2"><a href="#" class="site-nav">{{ subcategory.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>


                        </div>
                        <!--Categories-->
                        <!--Price Filter-->
                        <div class="sidebar_widget filterBox filter-widget">
                            <div class="widget-title">
                            	<h2>Price</h2>
                            </div>
                            <form action="#" method="post" class="price-filter">
                                {% csrf_token %}
                                <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                	<div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="no-margin"><input id="amount" type="text"></p>
                                    </div>
                                    <div class="col-6 text-right margin-25px-top">
                                        <button class="btn btn-secondary btn--small">filter</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End Price Filter-->
                        <!--Size Swatches-->
                        <div class="sidebar_widget filterBox filter-widget">
                        <div class="widget-title"><h2>Size</h2></div>
                        <form method="get" action="{% url 'shop' %}">
                            <div class="filter-size swatch-list clearfix">
                                {% for size in sizes %}
                                <label style="display: inline-block; margin: 5px;">
                                    <input type="radio" name="size" value="{{ size.name }}" 
                                        style="display: none;"
                                        onchange="this.form.submit()"
                                        {% if request.GET.size == size.name %}checked{% endif %}>
                                    <span class="size-btn" 
                                        style="display: inline-block; width: 30px; height: 30px; border: 1px solid #ccc; text-align: center; line-height: 30px; font-weight: normal; background-color: #f9f9f9; cursor: pointer;">
                                        {{ size.name }}
                                    </span>
                                </label>
                                {% endfor %}
                            </div>
                        </form>
                    </div>


                        <!--End Size Swatches-->
                        <!--Color Swatches-->
                        <div class="sidebar_widget filterBox filter-widget">
                        <div class="widget-title"><h2>Color</h2></div>
                        <form method="get" action="{% url 'shop' %}">
                            <div class="filter-color swatch-list clearfix">
                                {% for color in colors %}
                                <label style="display: inline-block; margin: 5px;">
                                    <input type="radio" name="color" value="{{ color.name }}" 
                                        style="display: none;"
                                        onchange="this.form.submit()"
                                        {% if request.GET.color == color.name %}checked{% endif %}>
                                    <span class="swatch-btn" 
                                        style="display: inline-block; width: 30px; height: 30px; border: 1px solid #ccc; border-radius: 50%; background-color: {{ color.name|lower }}; cursor: pointer;">
                                    </span>
                                </label>
                                {% endfor %}
                            </div>
                        </form>
                    </div>

                        <!--End Color Swatches-->
                        <!--Brand-->
                        <div class="sidebar_widget filterBox filter-widget">
                            <div class="widget-title"><h2>Brands</h2></div>
                            
                            {% for brand in brands %}
                                <ul>
                                <li>
                                  <input type="checkbox" value="allen-vela" id="check1">
                                  <label for="check1"><span><span></span></span>{{brand.name}}</label>
                                </li>
                                
                            </ul>
                            {% endfor %}
                        </div>
                        <!--End Brand-->
                        <!--Popular Products-->
						<div class="sidebar_widget">
                        	<div class="widget-title"><h2>Popular Products</h2></div>
							<div class="widget-content">
                                <div class="list list-sidebar-products">
                                  <div class="grid">
                                    {% for product in products %}
                                    <div class="grid__item">
                                      <div class="mini-list-item">
                                        <div class="mini-view_image">
                                            <a class="grid-view-item__link" href="#">
                                                <img class="grid-view-item__image" src="{{product.main_image.url}}" alt="" />
                                            </a>
                                        </div>
                                        <div class="details"> <a class="grid-view-item__title" href="#">{{product.name}}</a>
                                          <div class="grid-view-item__meta"><span class="product-price__price"><span class="money">{{product.discounted_price}}</span></span></div>
                                        </div>
                                      </div>
                                    </div>
                                        
                                    {% endfor %}
                                        
                                  </div>
                                </div>
                          	</div>
						</div>
                        <!--End Popular Products-->
                        <!--Banner-->
                        <div class="sidebar_widget static-banner">
                        	<img src="{% static 'images/shop/side-banner-2.jpg' %}" alt="" />
                        </div>
                        <!--Banner-->
                        <!--Information-->
                        <div class="sidebar_widget">
                            <div class="widget-title"><h2>Information</h2></div>
                            <div class="widget-content"><p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p></div>
                        </div>
                        <!--end Information-->
                        <!--Product Tags-->
                        <div class="sidebar_widget">
                          <div class="widget-title">
                            <h2>Product Tags</h2>
                          </div>
                          <div class="widget-content">
                            {% for tag in tags %}
                                <ul class="product-tags">
                              <li><a href="#" >{{tag.name}}</a></li>
                              
                            </ul>
                            {% endfor %}
                            <span class="btn btn--small btnview">View all</span> </div>
                        </div>
                        <!--end Product Tags-->
                    </div>
                </div>
                <!--End Sidebar-->
                 <!--Main Content-->
                 <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
                	<div class="category-description">
                    	<h3>Category Description</h3>
                        <p>Welcome to our clothing collection, where style meets comfort! Whether you're dressing up for a formal event, looking for casual everyday wear, or gearing up for a workout, we've got you covered. Our curated selection features high-quality fabrics, contemporary designs, and a wide range of sizes to suit every body type.</p>
                    </div>
                    <hr>
                	<div class="productList">
                    	<!--Toolbar-->
                        <button type="button" class="btn btn-filter d-block d-md-none d-lg-none"> Product Filters</button>
                    	<div class="toolbar">
                        	<div class="filters-toolbar-wrapper">
                            	<div class="row">
                                	
                                    <div class="col-4 col-md-4 col-lg-4 text-center filters-toolbar__item filters-toolbar__item--count d-flex justify-content-center align-items-center">
                                    	<span class="filters-toolbar__product-count">Showing: {{product_count}}</span>
                                    </div>
                                    <div class="col-4 col-md-4 col-lg-4 text-right">
                                        <div class="filters-toolbar__item">
                                            <label for="SortBy" class="hidden">Sort</label>
                                            <form method="GET" action="{% url 'shop' %}">
                                                <select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort" onchange="this.form.submit()">
                                                    <option value="title-ascending" {% if sort_option == 'title-ascending' %}selected{% endif %}>Sort</option>
                                                    <option value="best-selling" {% if sort_option == 'best-selling' %}selected{% endif %}>Best Selling</option>
                                                    <option value="alphabetically-az" {% if sort_option == 'alphabetically-az' %}selected{% endif %}>Alphabetically, A-Z</option>
                                                    <option value="alphabetically-za" {% if sort_option == 'alphabetically-za' %}selected{% endif %}>Alphabetically, Z-A</option>
                                                    <option value="price-low-high" {% if sort_option == 'price-low-high' %}selected{% endif %}>Price, low to high</option>
                                                    <option value="price-high-low" {% if sort_option == 'price-high-low' %}selected{% endif %}>Price, high to low</option>
                                                    <option value="date-new-old" {% if sort_option == 'discounted' %}selected{% endif %}>Discounted Products</option>
                                                    <option value="date-old-new" {% if sort_option == 'none-discounted' %}selected{% endif %}>Non-Discounted Products</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--End Toolbar-->
                        <div class="list-view-items grid--view-items">
                        	<!--ListView Item-->
                            {% for product in products %}
                            
                            <div class="list-product list-view-item">
                                <div class="list-view-item__image-column">
                                    <div class="list-view-item__image-wrapper">
                                        <!-- Image -->
                                        <a href="{% url 'product' product.slug %}"><img class="list-view-item__image blur-up lazyload" data-src="{{product.main_image.url}}" src="{{product.main_image.url}}" alt="image" title="product"></a>
                                        <!-- End Image -->
                                    </div>
                                </div>
                                <div class="list-view-item__title-column">
                                    <div class="h4 grid-view-item__title"><a href="#">{{product.name}}</a></div>
                                    <!-- Product Review -->
                                    <div class="product-review">
                                                 {% for i in stars %}
                                                        {% if i < rating %}
                                                            <i class="font-13 fa fa-star"></i>
                                                        {% else %}
                                                            <i class="font-13 fa fa-star-o"></i>
                                                        {% endif %}
                                                    {% endfor %}
                                              </div>
                                    <!-- End Product Review -->
                                    <!-- Sort Description -->
                                    <p>{{product.description}}</p>
                                    <!-- End Sort Description -->
                                    <!-- Price -->
                                    <p class="product-price grid-view-item__meta">
                                        <span class="old-price">${{product.price}}</span>
                                        <span class="product-price__price product-price__sale"><span class="money">${{product.discounted_price}}</span></span>
                                    </p>
                                    <!-- End Price -->
                                    <form class="variants" action="{% url 'product' product.slug %}">
                                    	<button class="btn btn--small" type="submit">Select Options</button>
	                                </form>
                                </div>
                            </div>
                            {% endfor %}
                            <!--End ListView Item-->
                            
                        </div>
                    </div>
                    <div class="infinitpaginOuter">
                        <div class="infinitpagin">	
                            <a href="{% url 'shop' %}" class="btn loadMore">Load More</a>
                        </div>
                    </div>
                </div>
                <!--End Main Content-->
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
{% endblock content %}

  