{% extends 'base.html' %} {% load static %} {% block content %}


<!-- Body Content -->
  <div id="page-content">
    <!-- Page Title -->
    <div class="page section-header text-center">
      <div class="page-title">
        <div class="wrapper">
          <h1 class="page-width">Wish List</h1>
        </div>
      </div>
    </div>
    <!-- End Page Title -->

    <div class="container">
      {% if wishlist_products %}
      <div class="row">
        <div class="col-12 main-col">
          <div class="wishlist-table table-content table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="product-name text-center alt-font">Remove</th>
                  <th class="product-price text-center alt-font">Images</th>
                  <th class="product-name alt-font">Product</th>
                  <th class="product-price text-center alt-font">Unit Price</th>
                  <th class="stock-status text-center alt-font">
                    Stock Status
                  </th>
                  <th class="product-subtotal text-center alt-font">
                    Add to Cart
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for product in wishlist_products %}
                <tr>
                  <!-- Remove Button -->
                  <td class="product-remove text-center" valign="middle">
                    <a href="{% url 'remove_from_wishlist' product.slug %}">
                      <i class="icon anm anm-times-l"></i>
                    </a>
                  </td>

                  <!-- Product Image -->
                  <td class="product-thumbnail text-center">
                    <a href="{% url 'product' product.slug %}">
                      <img
                        src="{{ product.main_image.url }}"
                        alt="{{ product.name }}"
                        title="{{ product.name }}"
                      />
                    </a>
                  </td>

                  <!-- Product Name -->
                  <td class="product-name">
                    <h4 class="no-margin">
                      <a href="{% url 'product' product.slug %}">
                        {{ product.name }}
                      </a>
                    </h4>
                  </td>

                  <!-- Unit Price -->
                  <td class="product-price text-center">
                    <span class="amount">${{ product.price }}</span>
                  </td>

                  <!-- Stock Status -->
                  <td class="stock text-center">
                    {% if product.in_stock %}
                    <span class="in-stock">In Stock</span>
                    {% else %}
                    <span class="out-stock">Out Of Stock</span>
                    {% endif %}
                  </td>

                  <!-- Add to Cart Button -->
                  <td class="product-subtotal text-center">
                    {% if product.in_stock %}
                    <form method="POST" action="{% url 'add_to_cart' product.slug %}">
                      {% csrf_token %}
                      <input type="hidden" name="quantity" value="1" />
                      <button type="submit" class="btn btn-small" value="add_to_cart">
                        Add To Cart
                      </button>
                    </form>
                    {% else %}
                    <button type="button" class="btn btn-small" disabled>
                      Out Of Stock
                    </button>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="empty-page-content text-center">
            <h1>Your wishlist is currently empty.</h1>
            <p>
              <a href="{% url 'shop' %}" class="btn btn--has-icon-after"
                >Continue shopping
              </a>
            </p>
          </div>
        </div>
        {% endif %}
      </div>
      <!-- End Body Content -->
      {% endblock content %}
    </div>
  </div>
</div>
